services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123123mM.mM
      MYSQL_DATABASE: runicore
      MYSQL_USER: runicorer
      MYSQL_PASSWORD: 123123
      INNODB_FORCE_RECOVERY: 1
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - mysql-network
    restart: unless-stopped

networks:
  mysql-network:
    driver: bridge

volumes:
  mysql-data:
